.layered-content {
    .menuList-links {
      display: block;
      list-style: none;
      max-width: 30%;
      margin:0;
      padding: 0;
      li {
        border-bottom: 1px dashed #e7e7e7;
        padding: 10px;
        a {
          color: #5c5c5c;
          padding: 12px 0;
          font-weight: 500;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
}
